{% extends 'base.html' %}

{% block title %}Карта прибора{% endblock %}

{% block content %}
<h1>{{ equipment.name }} - Детали</h1>

<ul class="nav nav-tabs" id="equipmentTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Информация о приборе</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="maintenance-tab" data-toggle="tab" href="#maintenance" role="tab" aria-controls="maintenance" aria-selected="false">Обслуживания</a>
    </li>
</ul>

<div class="tab-content" id="equipmentTabContent">
    <!-- Вкладка Информация о приборе -->
    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <table class="table">
            <tr><th>Название</th><td>{{ equipment.name }}</td></tr>
            <tr><th>Модель</th><td>{{ equipment.model }}</td></tr>
            <tr><th>Производитель</th><td>{{ equipment.manufacturer }}</td></tr>
            <tr><th>Серийный номер</th><td>{{ equipment.serial_number }}</td></tr>
            <tr><th>Отдел</th><td>{{ equipment.get_department_display }}</td></tr>
            <tr><th>Расположение</th><td>{{ equipment.location }}</td></tr>
            <tr><th>Ответственное лицо</th><td>{{ equipment.responsible_person }}</td></tr>
        </table>
        <a href="{% url 'equipment_edit' equipment.id %}" class="btn btn-warning">Редактировать</a>
       <!-- <a href="{% url 'generate_equipment_pdf' equipment.id %}" class="btn btn-primary">Скачать карту прибора (PDF)</a>-->
    </div>

    <!-- Вкладка Обслуживания -->
    <div class="tab-pane fade" id="maintenance" role="tabpanel" aria-labelledby="maintenance-tab">
        <h2>Произведенные обслуживания</h2>
        <a href="{% url 'maintenance_create' equipment.id %}" class="btn btn-success mb-3">Добавить обслуживание</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Тип обслуживания</th>
                    <th>Дата проведения</th>
                    <th>Исполнитель</th>
                    <th>Документ</th>
                    <th>Описание</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for record in maintenance_records %}
                <tr>
                    <td>{{ record.maintenance_type.name }}</td>
                    <td>{{ record.date_performed }}</td>
                    <td>{{ record.executor }}</td>
                   <td> {% if record.documents %}
                    <a href="{{ record.documents.url }}">Скачать документ</a>
                    {% else %}
                    <p>Документ не прикреплен</p>
                    {% endif %}</td>
                    <td>{{ record.description }}</td>
                    <td>
                        <a href="{% url 'maintenance_edit' record.id %}" class="btn btn-warning">Редактировать</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
